<div>
  <mat-toolbar color="primary">
    <a
      mat-fab
      routerLink="/home"
      aria-label="Example icon-button with home icon"
      class="navbar-icon"
    >
      <mat-icon>home</mat-icon>
    </a>
    <span class="example-spacer"></span>
    <span>Welcome</span>
    <span class="example-spacer"></span>
    <a
      mat-fab
      routerLink="/login"
      aria-label="Example icon-button with login icon"
      class="navbar-icon"
    >
      <mat-icon>login</mat-icon>
    </a>
  </mat-toolbar>
</div>
